<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인증 메일 발송</title>
    <link rel="stylesheet" href="../../../css/base.css">
</head>
<body>

<div class="auth-wrap">
    <div class="auth-container">

        <!-- 로고 -->
        <div class="auth-logo">DJ테크트리</div>

        <!-- 안내 메시지 -->
        <div class="auth-body auth-body--notice">
            <h2 class="auth-title">인증 메일이 발송되었습니다.</h2>
            <p class="auth-forgot-desc">{입력한 이메일 주소}</p>
        </div>

        <!-- 버튼 및 기타 -->
        <div class="auth-footer">
            <p class="auth-help auth-help--back">
                <img src="../../images/arrow-right-auth.svg" width="16" height="16" alt="">
                <span><a href="#">로그인</a> 화면으로 돌아가기</span>
            </p>
        </div>

    </div>
</div>

</body>
</html>
