<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>페이지를 찾을 수 없음</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/static/pretendard.css">
    <link rel="stylesheet" href="../../../css/base.css">
</head>
<body class="error-page">

    <div class="error-page__content">
        <img class="error-page__logo" src="../../images/logo.svg" alt="쏠쏠">
        <h1 class="error-page__title">이런! 선택된 페이지를 찾을 수 없어요</h1>
        <p class="error-page__desc">페이지가 제거되었거나 일시적으로 사용이 어려울 수 있어요</p>
        <a class="btn btn--md btn--auto btn--primary error-page__btn" href="#">홈으로 가기</a>
    </div>

    <img class="error-page__img" src="../../images/char-404-error.png" alt="">

</body>
</html>
