<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서비스 긴급점검 (전체장애)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/static/pretendard.css">
    <link rel="stylesheet" href="../../../css/base.css">
</head>
<body class="error-page error-page--gray">

    <div class="error-page__content">
        <img class="error-page__logo" src="../../images/logo.svg" alt="쏠쏠">
        <h1 class="error-page__title">서비스 안정화를 위한 시스템 점검 안내</h1>
        <p class="error-page__subtitle">원활한 서비스를 위해 시스템 점검 중이에요</p>
        <p class="error-page__desc">점검시간 동안 서비스 이용이 제한되며, 빠른 시간 내에 더욱 안정된 서비스를<br>제공할 수 있도록 노력할게요!</p>
        <a class="btn btn--md btn--auto btn--primary error-page__btn" href="#">재시도하기</a>
    </div>

    <img class="error-page__img" src="../../images/char-system-check.png" alt="">

</body>
</html>
