<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서비스 정기점검</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/static/pretendard.css">
    <link rel="stylesheet" href="../../../css/base.css">
</head>
<body class="error-page error-page--gray">

    <div class="error-page__content">
        <img class="error-page__logo" src="../../images/logo.svg" alt="쏠쏠">
        <h1 class="error-page__title">서비스 안정화를 위한 시스템 정기점검 안내</h1>
        <p class="error-page__subtitle">원활한 서비스를 위해 시스템 점검 중이에요</p>
        <p class="error-page__desc">점검시간 동안 서비스 이용이 제한돼요.  더욱 나은 서비스로 찾아 뵐게요!</p>
        <span class="error-page__notice">
            <img src="../../images/line-info-circle-white.svg" alt="">서비스 점검 예정시간
        </span>
        <p class="error-page__time">2026.05.13 24:00 ~ 2026.05.14 04:00</p>
        <a class="btn btn--md btn--auto btn--primary error-page__btn" href="#">재시도하기</a>
    </div>

    <img class="error-page__img" src="../../images/char-regular-check.png" alt="">

</body>
</html>
