<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서비스 시스템 에러</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/static/pretendard.css">
    <link rel="stylesheet" href="../../../css/base.css">
</head>
<body class="error-page">

    <div class="error-page__content">
        <img class="error-page__logo" src="../../images/logo.svg" alt="쏠쏠">
        <h1 class="error-page__title">서비스 이용에 불편을 드려 죄송해요</h1>
        <p class="error-page__desc">편리하게 서비스를 이용하실 수 있도록 최선의 노력을 다하고 있어요</p>
        <a class="btn btn--md btn--auto btn--primary error-page__btn" href="#">홈으로 가기</a>
    </div>

    <img class="error-page__img" src="../../images/char-part-error.png" alt="">

</body>
</html>
